# 1. 집합(set)

- 집합(set)은 파이썬 2.3부터 지원하기 시작한 자료형으로, 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형이다.

- 공집합을 생성할 때는 *반드시* set()으로 생성해야 한다. {}로 생성하면 빈 dictionary가 생성된다.

- {1, 2, 3} -> set, {'a':1, 'b':2} -> dictionary

- 집합의 연산자인 교집합, 합집합, 차집합을 모두 지원한다.

- set의 특징이 2가지 있는데, 이 특징이 리스트와의 차이점이라 사용한다. 첫번째 특징이 set 자료형을 사용하는 주된 이유이다.

1) set은 **원소의 중복을 허용하지 않는다.** 즉, **원소의 종류**를 나타내기 좋다.

2) set은 **원소의 순서가 존재하지 않는다.** 즉, 원소의 index가 없다.

In [5]:
my_set = set()  # set과 typle은 한끝 차이!! 유념하기
type(my_set)

my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [7]:
my_set = {1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,4} # set은 중복을 허용하지 않는다.
my_set

my_set[0]      # set은 인덱스가 존재하지 않는다!

TypeError: 'set' object is not subscriptable

## 1.1 set의 연산
- 교집합, 합집합, 차집합 등 지원

In [12]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

print(s1.union(s2))  # union은 합집합!

print(s1.intersection(s2))   # intersection은 교집합!

print(s1.difference(s2))    # difference는 차집합
print(s2.difference(s1))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{6, 7}

## 1.2 집합 관련 함수

#### 집합에 원소 하나 추가하기 add()

In [15]:
s = set()

s.add(1)
print(s)

{1}

#### 집합에 여러 원소 추가하기 update()

In [17]:
s = {1,2,3}

s. update({4,5})
print(s)

{1, 2, 3, 4, 5}

#### 집합에서 원소 제거하기 remove()

In [18]:
s.remove(3)
s

{1, 2, 4, 5}

# 2. Dictionary (**)



**파이썬에서 리스트와 함께 굉장히 많이 사용되는 구조.**

- key - value 방법을 통해 저장한다.

| 자료형 | 의미 | 가리키는 위치 | 선언형식 |
|:---:|:---|:---:|---|
| list | 인덱스를 기반으로 값을 저장 | 인덱스 | a = [ ] |
| dictionary | 키를 기반으로 값을 저장 | 키 | a = { } |


- dictionary를 표현할 때는 {key : value, key2 : value2, ... } 형태로 표현한다.

- dict_a = {'Korea' : 'Seoul', 'Japan' : 'Tokyo', 'Chana' : 'Beijing'}

- 순서를 따지지 않음. 즉, 인덱스가 없음

- **key : immutable / value : mutable** 

- 파이썬에서 가장 자주쓰는 데이터 형 중 하나

## 2.1 dictionary 기본사용법

### 2.1.1 dictionary 생성

In [20]:
a = {"korea" : "Seoul",     # 콜론을 기준으로 왼쪽은 key, 오른쪽은 value
     "Japan" : "Tokyo",     # key는 리스트의 인덱스와 비슷하다.
     "China" : "Beijing"}

type(a)

dict

In [26]:
a['Canada'] = 'Ottawa'

a["korea"] = "Busan"

a["Korea"] = "Seoul"
a

{'korea': 'Busan',
 'Japan': 'Tokyo',
 'China': 'Beijing',
 'Canada': 'Ottawa',
 'Korea': 'Seoul'}

### 2.1.2 dictionary 원소 추가

### 2.1.3 dictionary 원소 삭제

In [27]:
del a["Japan"]     # 원소 삭제 시 key값만 입력하면 된다.
a

{'korea': 'Busan', 'China': 'Beijing', 'Canada': 'Ottawa', 'Korea': 'Seoul'}

### 2.1.4 dictionary 접근

In [30]:
a['Korea']

'Seoul'

In [32]:
b = {0 : 1, 1 : 6, 8 : 9}   
b[0]            #여기서 b[0]은 인덱스가 아니라 key값 0을 말한다.
b[2]            # 당연히 key '2' 값이 존재 하지 않기 때문에 에러가 난다.

KeyError: 2

### 2.1.5 dictionary 수정
- dict.update(수정할 dict)

In [34]:
a["korea"] = "Suncheon"
a

{'korea': 'Suncheon', 'China': 'Beijing', 'Canada': 'Ottawa', 'Korea': 'Seoul'}

In [38]:
b = {"a" : 5, 
     "b" : 7, 
     "c" : 10, 
     "d" : 13}

b["a"] = 1
print(b)

b.update({"a" : 1,     # 
     "b" : 2, 
     "c" : 3, 
     "d" : 14})
b.update({"a" : 1,     
     "b" : 2, 
     "c" : 3, 
     "d" : 4,
     "e" : 5,
     "f" : 6})
b

{'a': 1, 'b': 7, 'c': 10, 'd': 13}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [44]:
singer = {
    'name' : 'BTS',
    'member' : 7,
    '데뷔곡' : '데인저',
    '대표곡' : ['IDOL','봄날','불타오르네','Dynamite']
    
}

print("name : ", singer['name'])
print("member : {}명".format(singer['member']))
print("데뷔곡 : ", singer['데뷔곡'])
print("대표곡 : ", singer['대표곡'])

singer["name"] = "환불원정대"
print("name : ",singer["name"])

singer["member"] = 3
singer["reader"] = "RM"

print("member : ",singer["member"])
print("reader : ",singer["reader"])

name :  BTS
member : 7명
데뷔곡 :  데인저
대표곡 :  ['IDOL', '봄날', '불타오르네', 'Dynamite']
name :  환불원정대
member :  3
reader :  RM

In [47]:
singer.update({'name' : 'BTS',
    'member' : 3,
    "reader" : "RM",
    '데뷔곡' : '데인저',
    '대표곡' : ['IDOL','봄날','불타오르네','Dynamite']})

print("member : ",singer["member"])
print("reader : ",singer["reader"])

member :  3
reader :  RM

In [52]:
print(singer["대표곡"][1])

봄날

In [63]:
a = {"이름" : '조상훈',
     "주소" : "순천시 구암 3길 22 송보아파트 106동 405호",
     "직업" : "무직",
     "신용등급" : "B+",
     "자산" : "2000만원"}

print("이름 : ",a["이름"])
print("직업 : ",a["직업"])
print("신용등급 : ",a["신용등급"])

a.update({"이름" : '조상훈',
     "주소" : "서울특별시 종로구 혜화동 **",
     "직업" : "프로그래머",
     "신용등급" : "A",
     "자산" : "2000만원"})

print("이름 : ",a["이름"])
print("주소 : ",a["주소"])
print("직업 : ",a["직업"])
print("신용등급 : ",a["신용등급"])

이름 :  조상훈
직업 :  무직
신용등급 :  B+
이름 :  조상훈
주소 :  서울특별시 종로구 혜화동 **
직업 :  프로그래머
신용등급 :  A

In [72]:
singer = {
    'name' : 'BTS',
    'member' : 7,
    '데뷔곡' : '데인저',
    '대표곡' : ['IDOL','봄날','불타오르네','Dynamite']
    
}

singer.keys()  # key(키)가 무엇이 있는지 확인할 수 있는 문법


print(singer.keys())
a = list(singer.keys())   # 키 항목들을 가져와서 리스팅
print(a)

for i in range(0,len(a),1):
    print(a[i])

dict_keys(['name', 'member', '데뷔곡', '대표곡'])
['name', 'member', '데뷔곡', '대표곡']
name
member
데뷔곡
대표곡

> **TIP** dictionary를 만들 때 key는 중복이 있으면 절대 안된다.

## 2.2 dictionary 관련 함수

### 2.2.1 dictionary의 모든 key값들 보기 keys()

### 2.2.2 dictionary의 모든 value들 보기 values()

In [76]:
singer.values()

print(singer.values())

b = list(singer.values())
print(b)

for i in range(0,4,1):
    if type(b[i]) ==list:
        for j in range(0,4,1):
            print()

dict_values(['BTS', 7, '데인저', ['IDOL', '봄날', '불타오르네', 'Dynamite']])
['BTS', 7, '데인저', ['IDOL', '봄날', '불타오르네', 'Dynamite']]
BTS
7
데인저
['IDOL', '봄날', '불타오르네', 'Dynamite']

### 2.2.3 dictionary의 모든 key, value 쌍 보기 items() -> tuple 형태로 반환된다

In [77]:
list(singer.items())       # items()

[('name', 'BTS'),
 ('member', 7),
 ('데뷔곡', '데인저'),
 ('대표곡', ['IDOL', '봄날', '불타오르네', 'Dynamite'])]

### 2.2.4 dictionary의 원소 가져오기 get() : key로 value 구하기

In [79]:
singer = {
    'name' : 'BTS',
    'member' : 7,
    '데뷔곡' : '데인저',
    '대표곡' : ['IDOL','봄날','불타오르네','Dynamite']
    
}

singer.get("name")
singer["name"]

'BTS'

### 2.2.5 dictionary에 해당 key값이 존재하는지 확인하기 in


- in이라는 operator는 dictionary뿐만 아니라 모든 연속형 데이터 타입에 사용할 수 있다.


- dictionary의 경우에는 key를 대상으로 하고, 리스트, 튜플, 집합, 문자열에 대해서는 해당 원소가 존재하는지 찾아서 True / False 를 알려준다.

In [82]:
"소속사" in singer

False